{% extends 'post_layout.html' %}

{% block title %}
All posts
{% endblock %}
{% block content %}
<div class ="container">


    <ul style="padding:80px">
    {% for i in instance %}
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <h1 class="heading-list">{{i.title}}</h1><h3><small>{{i.timestamp}}</small></h3><br>
            <p style="font-size :15px;font-family:Lucida Console,Courier New,Monaco,monospace;">{{i.content}}</p>
            <a href="{{i.get_absolute_url}}" type="button" class="btn btn-dark" style="width:80px;">VIEW</a>
        </div>
        <br><br>
    {% endfor %}
    </ul>
    </div>
{% endblock content %}
