{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
    </head>
<body>
      <div class="p-2 w-12 mb-3 bg-info text-white" >

        {% block text %}<p class="heading">Welcome to my Blog</p>
         {% endblock %}
         <ul class=" nav nav-tabs " style="height: 50px;">
          <li class="nav-item" >
            <a class="nav-link  " style="font-size :20px;color:orange;" href="{% url 'app:post_list'%}">All Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  " style="color:orange;font-size :20px;" href="{%url 'app:post_create'%}">Create</a>
          </li>

        </ul>
      </div>
    {% block content %}

    {% endblock %}

</body>
</html></li>
